<p>
  <strong><%= Comment.model_name.human %>: </strong>
  <% commentable.comments.each do |comment| %>
    <%= comment.body %>
    <% if comment.user.name.empty? %>
      <%= comment.user.email %>
    <% else %>
      <%= comment.user.name %>
    <% end %>
    <%= comment.created_at.to_s(:datetime_jp) %>
  <% end %>
</p>
